version: '3'

tasks:
  shell:
    desc: "devshell for production"
    env:
      GOOGLE_CLOUD_PROJECT_ID: "project_id"
      SHELL_ENVIRONMENT: "production"
    cmds:
      - nix develop --impure
    silent: true

  init:
    desc: "terraform init on production"
    cmds:
      - bash script/entry_point/terraform.sh "production" {{ .CLI_ARGS }} "init"
    silent: true

  plan:
    desc: "terraform plan on production"
    cmds:
      - bash script/entry_point/terraform.sh "production" {{ .CLI_ARGS }} "plan"
    silent: true

  apply:
    desc: "terraform apply on production"
    cmds:
      - bash script/entry_point/terraform.sh "production" {{ .CLI_ARGS }} "apply"
    silent: true

